$darkish: #03268b;
$medish: #7ec2fc;
$lightish: #bceefd;

$section2ish: #29d3d1;
$section3ish: #73ee70;
$orangeish: #f90;
$grayBlueish: #99c;
$salmonish: #c66;
$tanish: #fc8;
$blueish: #99f;
$peachish: #f96;
$purpleish: #c69;
$pinkish: #c9c;
$whiteish: #fff;
$redish: #f55;

