.nav {
  overflow: hidden;
  position: relative;
}

.lvert {
  color:white;
  transform: rotate(-90deg);
  transform-origin: bottom left 0;
  padding: 0;
  position: absolute;
}
.lvert:hover {
  /*color:$purple;*/
  /*text-shadow: 2px 2px 4px white;*/
  cursor:pointer;
}

.lblock {
  border: solid $nav-color 0px;
  /*-webkit-border-image: -webkit-linear-gradient(left, orange, salmon);*/
  position: absolute;
  animation-name: hgrow;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

/* Fixes the width of the contents during transformation. */
.contents {
  margin: 10px; 
}

.rvert {
  color:white;
  transform: rotate(90deg);
  transform-origin: top left 0;
  padding: 0;
  position: absolute;
}

.rblock {
  border: solid $nav2-color 0px;
  position: absolute;
  bottom:0;
  right:0;
}

/* The animation code */
@keyframes hgrow {
    from { right: 0px; width: 0%; }
    to   { left: 0px;  width: 100%; }
}

.navItem {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 3px;
}
