.area_dark_color{
           background-color:#03268b;
          }

.area_med_color{
           background-color:#7ec2fc;
            }
.area_med_text{
           color:#7ec2fc;
            }            
.area_light_color{
           background-color:#bceefd;
            }
            
.area_light_text{
           color:#bceefd;
            }

.obj_color {
           background-color:#7ec2fc;
          }
          
.section_2_color{
           background-color:#29d3d1;
            }
            
.section_3_color{
           background-color:#73ee70;
            }
