@import 'colors';
@import 'text';
@import 'nav';
@import 'capsule';
@import 'arch';

/****** main ******/
body {
  min-height:90%;
  color: white;
  background-color: black;
  background-repeat:no-repeat;
  background-position:center top;
  background-attachment:fixed;
  margin:0px;
}

div#containment {
  width: 100%;
  overflow: hidden;
  margin-left:auto;
  margin-right:auto;
}

div.grid {
    position: relative;
}

div.content {
  overflow: hidden;
  display: block;
  position: relative;
}
div.content::after {
  /* prevent floats overflowing content */
  content: "";
  clear: both;
  display: table;
}

.link {
    background-color: $link-color;
    color: black;
    vertical-align: middle;
}
.link:hover {
    background-color:white;
    cursor:pointer;
}

/* not currently used */
.button, a.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-align: center;
  background-color: $purple;
  border: none;
  cursor: pointer;
}


/****** layouts ******/
.vspace { height: 20px; display: block; }
.hspace { width: 20px; display: inline-block; }
.table  { display: table; width: 100%; }
.table > * { display: table-row; }
.cell   { display: table-cell;
          text-align: center;
}

.tabs  { display: table-row; }
.tabs > .cell {
  border-left: 1em solid #000;
  border-right: 1em solid #000;
}

.vertical {
  transform: rotate(90deg);
  transform-origin: left top 0;
}

/****** selections ******/
[aria-selected="true"], [aria-expanded="true"] {
    background-color: $sel-color;
}


