/****** main ******/
@font-face {
  font-family: FinalNew;
  src: url(../fonts/finalnew.ttf);
} 

body {
  min-height:90%;
  color:#ffffff;
  background-color:#020202;
  background-repeat:no-repeat;
  background-position:center top;
  background-attachment:fixed;
  margin:0px;
  font-size:14px;
}

table {
    width=100%;
}

div#containment {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

div.content {
  overflow-x: auto;
  overflow-y: auto;
  display:block;
}
div.content::after {
  /* prevent floats overflowing content */
  content: "";
  clear: both;
  display: table;
}

.token {
  vertical-align: middle;
  text-align: center;
  color: #eee;
}
.text {
  vertical-align: middle;
  overflow-y: auto;
  color: #ddd;
}

.title {
  font-family: FinalNew, serif;
  font-weight: bolder;
  font-size: 2em;
  background: none;
}

.link {
    background-color: lightblue;
    color: black;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

/****** box nav ******/
.box_nav th, .box_nav td {
    position: relative;
}
/*.box_nav th:first-child {*/
#box11 {
  /* top-left corner */
  border-top-left-radius: 40px;
  border: 0px;
  height: 40px;
  width: 40px;
  background: blue;
}
#box12 {
  min-width: 200px;
}
#box12 > * {
  /* divs in first row */
  margin: 0 5px;
  vertical-align: middle;
  display: inline-block;
  height: 40px;
}
div.lhspace {
  background-color: blue;
  min-width: 20px;
  width: 120px; /* computed */
  position: absolute;
  left: -5px;
}
div.htitle {
  font-family: FinalNew, serif;
  font-weight: bolder;
  color: white;
  padding: 0 1em;
  position: absolute;
  top: 12px;
  right: 35px;
}
div.rcap {
  background-color: blue;
  width: 30px;
  border-radius: 0 15px 15px 0;
  position: absolute;
  right: 0;
}
#box21 {
  /* bottom left corner / vertical nav */
  width: 40px; /* computed */
  margin: 0 10px;
}
#box21 > * {
  margin-bottom: 5px;
  display: block;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}
div.tvspace {
  height: 20px;
  background-color: blue;
}
div.bcap {
  height: 60px; /* computed */
  background-color: blue;
  border-radius: 0 0 50px 50px;
  /*position: absolute;
  bottom: 0;*/
}
#box22 {
  padding: 15px 15px;
  position: relative;
}
div.elbow {
    background:blue;
    width:20px;
    height:20px;
    float: left;
    position:absolute;
    left:0;
    top:0;
}
div.elbow_cut {
    position:absolute;
    background-color:black;
    width:20px;
    height:20px;
    bottom:0;
    right:0;
    border-top-left-radius:50px;
}

/****** capsule ******/
/* ex: <div class="capsule">Title</div> */
div.capsule {
  display:table-row;
}
div.capsule > * {
  vertical-align: middle;
  display:table-cell;
}
div.capsule::before {
  content:"= ";
  height:100%;
  width:0.8em;
  margin-right: 0.25em;
  color:blue;
  background-color:blue;
  display:inline-block;
  border-radius: 1.2em 0 0 1.2em;
  vertical-align: middle;
}
div.capsule::after {
  content:" =";
  height:100%;
  width:0.8em;
  margin-left: 0.25em;
  border-radius: 0 1.2em 1.2em 0;
  color:blue;
  background-color:blue;
  display:inline-block;
  vertical-align: middle;
}

/****** layouts ******/
.vspace { height: 20px; display: block; }
.hspace { width: 20px; display: inline-block; }
.table { display: table; }
.tabs  { display: table-row; }
.cell  { display: table-cell;
         text-align: center;
         padding: 0 1em;
}
.tabs > .cell {
  border-left: 1em solid #000;
  border-right: 1em solid #000;
}

/****** selections ******/
[aria-selected="true"], [aria-expanded="true"] {
    background-color: #ddd;
}


