<head>
<link rel="stylesheet" type="text/css" href="../../../css/reset.css" />
<link rel="stylesheet" type="text/css" href="../../../css/main.css" />
</head>
<body>

<!-- simple encapsulated elements -->
<div class="keytoken"><span class="title">gather_natoms</span>
        <span>4</span></div>

<div class="content">
<div class="capsule" onclick="alert('Turbine');"><div class="title">
            System Main Engines Turbine</div></div>

<div class="text" style="width:100px;">
    <span class="line">The first line</span>
    <span class="line">The second</span>
    <span class="line">The third.</span>
</div>
</div>

<div class="content">
<div class="capsule" onclick="alert('Nacell');"><div class="title">
            System Main Nacell</div></div>
<div class="capsule">
<div class="table" style="width:72px;">
  <div class="row">
      <div class="cell"><span class="token">A</span></div>
     <div class="cell"><span class="token">B</span></div>
     <div class="cell"><span class="token">C</span></div>
  </div>
  <div class="row">
     <div class="cell"><span class="token">1</span></div>
     <div class="cell"><span class="token">2</span></div>
     <div class="cell"><span class="token">3</span></div>
  </div>
</div>
</div>
</div>

<div class="content">
   <div class="capsule"><div class="table">
        <div class="tabs">
            <div class="title"> Tabs Example </div>
            <div class="cell hfill" style="width:100px;">&nbsp;</div>
            <div class="cell link"> Here </div>
            <div class="cell link"> There </div>
            <div class="cell link"> Everywhere </div>
        </div>
   </div></div>

    <!-- simple encapsulated element -->
    <div class="capsule"><span class="token">
            Notice 1</div></div>
    <div class="capsule"><span class="token">
            Notice 2</div></div>
</div>

</body>
