<head>
<link rel="stylesheet" type="text/css" href="../../../css/reset.css" />
<link rel="stylesheet" type="text/css" href="../../../css/main.css" />
</head>
<body>

<div class="content">
    <table class="box_nav"><tbody>
      <tr>
        <th id="box11"></th>
        <th id="box12">
          <div class="lhspace" style="width:120px;">&nbsp;</div>
          <div class="htitle">
            Element 5
          </div>
          <div class="rcap">&nbsp;</div>
        </th>
      </tr>
      <tr>
        <td id="box21" style="width:60px;" role="treegrid" aria-readonly="true">
          <div class="tvspace">&nbsp;</div>
          <div class="link" role="row" aria-expanded="false">item a</div>
          <div class="link" role="row" aria-expanded="false">item 2</div>
          <div class="bcap" style="height:100px;">&nbsp;</div>
        </td>
        <td id="box22">
          <div class='elbow'>
            <div class='elbow_cut'></div>
          </div>
          <!-- BEGIN -->
          <div class="text" style="width:250px;height:250px;">
          <p>
            Lorem ipsum ...
          </p><p>
            more of the same.
          </p>
          <!-- END -->
        </td>
      </tr>
    </tbody></table>
</div>

</body>
