<head>
<link rel="stylesheet" type="text/css" href="../../../css/reset.css" />
<link rel="stylesheet" type="text/css" href="../../../css/main.css" />
</head>
<body>

<div class="content">
    <div class="table">
      <div class="row">
        <div class="cell" id="box11"></div>
        <div class="cell" id="box12">
          <div class="lhspace" style="width:120px;">&nbsp;</div>
          <div class="htitle">
            Element 5
          </div>
          <div class="rcap">&nbsp;</div>
        </div>
      </div>
      <div class="row">
        <div class="cell" id="box21" role="treegrid" aria-readonly="true">
          <div class="tvspace">&nbsp;</div>
          <div class="link">item a</div>
          <div class="link">item 2</div>
          <div class="bcap" style="height:100px;">&nbsp;</div>
        </div>
        <div class="cell" id="box22">
          <div class="elbow">
            <div class="elbow_cut"></div>
          </div>
          <!-- BEGIN -->
          <div class="text" style="width:250px;height:250px;">
          <p>
            Lorem ipsum ...
          </p><p>
            more of the same.
          </p>
          <!-- END -->
        </div>
      </div>
    </div>
</div>

</body>
